<section class="flex flex-col items-center justify-center min-h-[80vh]">
  <h1 class="text-white text-6xl md:text-7xl font-bold mb-4 text-center">
    The Barber Domi
  </h1>
  <p class="text-white text-2xl md:text-3xl mb-8 text-center">
    La mejor barberia de Sabadell.
  </p>
  <a href="#" class="px-8 py-4 rounded-xl bg-red-600 text-white font-medium text-lg hover:bg-red-700 transition mb-16">
    Reserva tu cita ahora
  </a>
  <span class="text-white text-3xl animate-bounce">&#8595;</span>
</section>