---
import Button from './Button.astro';
import Icon from './Icon.astro';
---

<nav id="navbar" class="fixed top-4 left-1/2 transform -translate-x-1/2 w-[95%] max-w-5xl z-50 rounded-2xl bg-transparent backdrop-blur-none shadow-none transition-all duration-300">
  <div class="px-7 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <a href="/#" class="flex items-center space-x-2 animate-slide-in-left transition-colors hover:scale-105 transform">
        <Icon name="scissors" class="h-6 w-6 text-red-700" />
        <span class="font-bold text-xl text-red-700 hover:text-red-400">The Barber Domi</span>
      </a>

      <!-- Desktop Menu -->
      <div class="hidden md:flex items-center space-x-8 animate-slide-in-right">

        <a href="/#sobre-nosotros" class="text-red-700 hover:text-red-400 transition-colors hover:scale-105 transform">
          Sobre Nosotros
        </a>
        <a href="/#servicios" class="text-red-700 hover:text-red-400 transition-colors hover:scale-105 transform">
          Servicios
        </a>
        <a href="/#galeria" class="text-red-700 hover:text-red-400 transition-colors hover:scale-105 transform">
          Galería
        </a>
      
        <a href="/#contacto" class="text-red-700 hover:text-red-400 transition-colors hover:scale-105 transform">
          Contacto
        </a>
        <Button href='https://booksy.com/es-es/66211_the-barber-domi_barberia_49363_sabadell#ba_s=seo' class="hover:scale-105 transform transition-all">Reservar Cita</Button>
      </div>

      <!-- Mobile Menu Button -->
      <button id="mobile-menu-btn" class="md:hidden">
        <Icon name="menu" class="h-6 w-6 text-red-700" />
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="md:hidden bg-white hidden rounded-b-2xl shadow-lg">
    <div class="px-4 py-2 space-y-2">
      <a href="/#servicios" class="block py-2 text-red-700">Servicios</a>
      <a href="/#galeria" class="block py-2 text-red-700">Galería</a>
      <a href="/#local" class="block py-2 text-red-700">Nuestro Local</a>
      <a href="/#contacto" class="block py-2 text-red-700">Contacto</a>
      <Button href='https://booksy.com/es-es/66211_the-barber-domi_barberia_49363_sabadell#ba_s=seo' class="w-full mt-2">Reservar Cita</Button>
    </div>
  </div>
</nav>

<script>
  // Mobile menu functionality
  const mobileMenuBtn = document.getElementById('mobile-menu-btn');
  const mobileMenu = document.getElementById('mobile-menu');
  const navbar = document.getElementById('navbar');

  mobileMenuBtn?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('hidden');
  });

  // Navbar scroll effect
  window.addEventListener('scroll', () => {
    if (window.scrollY > 10) {
      navbar?.classList.add('bg-white/10', 'backdrop-blur-md', 'shadow-md');
      navbar?.classList.remove('bg-transparent', 'backdrop-blur-none', 'shadow-none');
    } else {
      navbar?.classList.add('bg-transparent', 'backdrop-blur-none', 'shadow-none');
      navbar?.classList.remove('bg-white/10', 'backdrop-blur-md', 'shadow-md');
    }
  });
</script>
